<!DOCTYPE html>
<html>
  <%- include("partials/head") %>
  <body>
    <%- include("partials/header") %>
    <h2>Messages</h2>
    <div class="msg-content">
      <!-- prettier-ignore -->
      <% locals.messages.forEach(message => { %>
      <div class="message">
        <p class="title"><%= message.title %></p>
        <p class="txt-content"><%= message.content %></p>
        <hr />
        <% if (locals.currentUser && locals.currentUser.member) {%>
        <p class="author"><span>By</span> <%= message.author.firstName %></p>
        <p class="date"><%= formatDate(message.date) %></p>
        <%} else {%>
        <p>
          <strong>Note:</strong> Author and date can only be seen by members
        </p>
        <% } %>
      </div>
      <% }) %>
    </div>
  </body>
</html>
