<!DOCTYPE html>
<html lang="en">
  <%- include("head") %>
  <body>
    <h1>Sign Up</h1>
    <form action="" method="POST">
      <label for="firstName">First name</label>
      <input
        name="firstName"
        placeholder="firstName"
        type="text"
        value="<%=locals.firstName%>"
      />
      <label for="lastName">Last name</label>
      <input
        name="lastName"
        placeholder="lastName"
        type="text"
        value="<%=locals.lastName%>"
      />
      <label for="email">Email</label>
      <input
        name="email"
        placeholder="johndoe@gmail.com"
        type="email"
        value="<%=locals.email%>"
      />
      <label for="password">Password</label>
      <input name="password" type="password" value="<%=locals.password%>" />
      <button>Sign Up</button>

      <% if (locals.errors) {%> <% locals.errors.forEach((error) => { %>
      <p><%= error %></p>
      <% }); %> <% } %>
    </form>
  </body>
</html>
